* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slider {
    max-width: 1024px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 100px auto;
    position: relative;
    background-color: #ccc;
    overflow: hidden;
}

#slider:hover .pagination {
    opacity: 1;
    transition: opacity .3s ease;

}

#slider:hover .back {
    opacity: 1;
    transition: opacity .3s ease;
}

#slider:hover .next {
    opacity: 1;
    transition: opacity .3s ease;
}


.main-img {
    display: block;
    width: 100%;

}

.back, .next {
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 10;
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 30px;
}

.back {
    left: 10px;
    top: 50%;
}

.next {
    right: 10px;
    top: 50%;
}

.pagination {
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 10;
    position: absolute;
    bottom: 5%;
    left:50%;
    transform:translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination__item {
    padding: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.pagination__item_active {
    background-color: white;
}
